<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzt.demo.dao.PostTagMapper" >
  <resultMap id="BaseResultMap" type="com.zzt.demo.model.PostTag" >
    <result column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="tag_id" property="tagId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.zzt.demo.model.PostTag" >
    insert into post_tag (post_id, tag_id)
    values (#{postId,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zzt.demo.model.PostTag" >
    insert into post_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        post_id,
      </if>
      <if test="tagId != null" >
        tag_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>